 <footer class="page-footer">
          <div class="container">
            <p>This is site footer</p>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Copyright Jss-osdc
            <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/groups/1534090800176936/">Find us facebook</a>
            </div>
          </div>
        </footer>

<!-- js libraries -->
<script src="{{"/assets/js/jquery-1.11.3.js"}}"></script>
<script src="{{"/assets/js/materialize.js"}}"></script>
<script src="{{"/assets/js/init.js"}}"></script>
<script src="{{"/assets/js/dummy.min.js"}}"></script>
