<header>
   <nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <a href="{{site.url}}" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a internal href="{{ site.baseurl }}/blog/">Blog</a>
        <li><a internal href="{{ site.baseurl }}/about/">About</a>
      </ul>
      <ul class="side-nav" id="mobile-demo">
         <li><a internal href="{{ site.baseurl }}/blog/">Blog</a>
         <li><a internal href="{{ site.baseurl }}/about/">About</a>
      </ul>
    </div>
  </nav>
</header>

