body{
	background: url("/assets/images/back.jpg")
}
/*Header CSS*/
nav{
	background-color: #37474f;
}
/***header css ended***/

/*footer Css*/
footer.page-footer{
	background-color: #37474f;
}
/*index page css*/
.container h4{
	text-align: center;
	color:#607d8b;
}
#site-heading{
	color:#00b8d4;
}
.intro{
	background-color: #fff;
	border: 5px solid #f0f0f0;
}
.intro h5{
	text-align: center;
}
.intro p {
	text-align: justify;
}
.latest-post{
	background-color: #fff;
	outline: 10px solid #f0f0f0;
}
.post-list{
	background-color: #fff;
}
.post-list a{
	padding: 10px;
	font-size: 20px;
}
.post-list p{
	padding: 10px;
	margin-bottom: 0px;
}
.date{
	padding: 10px;
}