body{
	background-color: #f0f0f0;
}
/*Header CSS*/
nav{
	background-color: #37474f;
}
.brand-logo img{
	max-width: 150px;
	padding-top:10px;
}
/***header css ended***/

/*footer Css*/
footer.page-footer{
	background-color: #37474f;
}
/*index page css*/
.page-header{

	background: url("../images/back.jpg");
	opacity: 0.6;
	background-size: 100% 100%;
	min-height: 300px;
}
@media screen and (min-width: 768px) {
    .page-header{

	background: url("../images/back.jpg");
	background-size: 100% 100%;
	min-height: 600px;
}
.container h4{
	text-align: center;
	color:#607d8b;
}
.cat-list{
	background-color:#bdbdbd;
	padding: 15px;
}
.cat-name{
	border:5px solid #fff;
	text-align: center;
	width: 80%;
}
.latest-blog-list{
	background-color: #e0e0e0 ;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}
.latest-blog-list a{
	color: #000 !important;
}
.list-tags{
	border:2px solid #fff;
	border-radius: 50px;
	padding: 2px;
}