/*Header CSS*/
nav{
	background-color: #37474f;
}
/***header css ended***/

/*footer Css*/
footer.page-footer{
	background-color: #37474f;
}
/*index page css*/
.container h4{
	text-align: center;
	color:#607d8b;
}
#site-heading{
	color:#607d8b;
}